{% extends 'template.html.twig' %}

{% block title %}Donate to the {{ campaign.name}} Campaign{% endblock %}

{% block body %}
  {% set campaignUrl = null %}
  {% set campaignUrl = app.request.attributes.get('_route_params')['campaignUrl'] %}
  {% set formData = donation %}
  {% set submitted = false %}
  {% if app.request.get('donation') is not null %}
    {% set formData = app.request.get('donation') %}
    {% set submitted = true %}
  {% endif %}
  <div id="overlay"></div>
  <div id="overlay_center"></div>
  <div class="row">
    <div class="col-md-8">
      <div class="row">
        <div class="col-md-12">
          <div class="lead">Make a donation to the</div>
          <h2>
            <strong>{{ campaign.name }}</strong>
          </h2>
        </div>
        <!-- ./column -->
      </div>
      <!-- ./row -->
      <br>
      <form name="donation" method="post" id="form" class="form">
        <div class="row">
          <div class="col-md-12">
            <div class="form-group">
              <label class="control-label required" for="donation_amount">Donation Amount:
                <small>U.S. Dollar (USD)</small>
              </label>
              <div class="input-group col-sm-6">
                <span class="input-group-addon" id="basic-addon1">
                  <i class="fa fa-usd" aria-hidden="true"></i>
                </span>
                <input type="number" class="form-control form-control-lg" style="text-align:right;" min="0" id="donation_amount" value="{% if donation is null or formData.amount is not defined %}5{% else %}{{ formData.amount }}{% endif %}" name="donation[amount]" required>
                <span class="input-group-addon" id="basic-addon1">.00</span>
              </div>
            </div>
          </div>
          <!-- ./column -->
        </div>
        <!-- ./row -->
        <hr>
        <div class="row">
          <div class="col-md-12">
            {% if donationType == "student" %}
              <div class="row">
                <div class="col-md-8">
                  <div class="form-group">
                    <label class="control-label required" for="donation_classroomID">Select Classroom</label>
                    <div class="input-group col-md-12">
                      <select id="donation_classroomID" name="donation[classroomID]" class="form-control form-control-lg">
                        <option value="" selected="selected">Select Classroom</option>
                        {% for thisClassroom in classrooms %}
                          <option value="{{thisClassroom.id}}" {% if formData is defined and classroom.id is defined and classroom.id == thisClassroom.id %} selected{% endif %}>{{thisClassroom.grade.name}} - {{thisClassroom.name}}</option>
                        {% endfor %}
                      </select>
                    </div>
                  </div>
                </div>
                <!-- ./column -->
                <div class="col-md-4">
                  <div class="form-group">
                    <label class="control-label required" for="donation_studentName">Student Name</label>
                    <input type="text" id="donation_studentName" class="form-control form-control-lg" value="{% if donation is not empty and formData.studentName is defined %}{{ formData.studentName }}{% endif %}" placeholder="Charles S." name="donation[studentName]">
                  </div>
                </div>
                <!-- ./column -->
              </div>
              <div class="row">
                <div class="col-md-12">
                  <span id="helpBlock" class="help-block">Please include the students last initial to help us map to the correct student.</span>
                </div>
              </div>
              <hr>
              <!-- ./row -->
            {% elseif donationType == "classroom" %}
              <div class="form-group">
                <label class="control-label required" for="donation_classroomID">Classroom</label>
                <select id="donation_classroomID" name="donation[classroomID]" class="form-control form-control-lg">
                  <option value="" selected="selected">Select Classroom</option>
                  {% for thisClassroom in classrooms %}
                    <option value="{{thisClassroom.id}}" {% if formData is defined and classroom.id is defined and classroom.id == thisClassroom.id %} selected{% endif %}>{{thisClassroom.grade.name}} - {{thisClassroom.name}}</option>
                  {% endfor %}
                </select>
              </div>
              <hr>
            {% elseif donationType == "team" %}
              <div class="form-group">
                <label class="control-label required" for="donation_teamName">Team</label>
                <input type="text" id="donation_teamName" name="donation[teamName]" class="form-control form-control-lg" readonly value="{{ team.name }}">
                <input type="hidden" id="donation_teamId" name="donation[teamId]" class="form-control form-control-lg" value="{{ team.id }}">
              </div>
              <hr>
            {% endif %}
          </div>
          <!-- ./column -->
        </div>
        <!-- ./row -->
        <div class="lead">Donor Information</div>
        <div class="row">
          <div class="col-md-6">
            <div class="form-group">
              <label class="control-label required" for="donation_firstName">First Name</label>
              <input type="text" class="form-control form-control-lg" placeholder="First Name" id="donation_firstName" name="donation[firstName]" value="{% if formData is defined and formData.firstName is defined %}{{ formData.firstName }}{% endif %}" required>
            </div>
          </div>
          <!-- ./column -->
          <div class="col-md-6">
            <div class="form-group">
              <label class="control-label required" for="donation_lastName">Last Name</label>
              <input type="text" class="form-control form-control-lg" placeholder="Last Name" id="donation_lastName" name="donation[lastName]" value="{% if formData is defined and formData.lastName is defined %}{{ formData.lastName }}{% endif %}" required>
            </div>
          </div>
          <!-- ./column -->
        </div>
        <!-- ./row -->
        <div class="row">
          <div class="col-md-12">
            <div class="form-group">
              <label class="control-label required" for="donation_email">Email Address</label>
              <div class="input-group">
                <span class="input-group-addon" id="basic-addon1">
                  <i class="fa fa-at" aria-hidden="true"></i>
                </span>
                <input type="text" class="form-control form-control-lg" id="donation_email" value="{% if formData is defined and formData.email is defined %}{{ formData.email }}{% endif %}" name="donation[email]" required>
              </div>
            </div>
          </div>
          <!-- ./column -->
        </div>
        <!-- ./row -->
        <div class="row">
          <div class="col-md-12">
            <div class="form-group">
              <label class="control-label" for="donation_message">Include a Message with your donation
                <sup>(optional)</sup>
              </label>
              <textarea type="text" class="form-control form-control-lg text-left" maxlength="500" id="donation_message" rows="3" name="donation[message]">{% if formData is defined and formData.message is defined %}{{ formData.message }}{% endif %}</textarea>
            </div>
          </div>
          <!-- ./column -->
        </div>
        <!-- ./row -->
        <hr>
        <div class="row">
          <div class="col-md-12">
            <div class="lead">Select a Payment Method</div>
            <div class="form-group-lg">
              <div class="form-check form-check-inline">
              <label class="form-check-label">
                <input type="radio" name="donation[paymentMethod]" id="donation_paymentMethod_1" value="paypal" checked>
                Paypal (<i class="fa fa-paypal" aria-hidden="true"></i>)
              </label>
            </div>
            <div class="form-check form-check-inline">
              <label class="form-check-label">
                <input type="radio" name="donation[paymentMethod]" id="donation_paymentMethod_2" value="cc" {% if credit_card_flag == false %}disabled{% endif %}>
                Credit Card (<i class="fa fa-cc-paypal" aria-hidden="true"></i>
                <i class="fa fa-cc-visa" aria-hidden="true"></i>
                <i class="fa fa-cc-mastercard" aria-hidden="true"></i>
                <i class="fa fa-cc-discover" aria-hidden="true"></i>
                <i class="fa fa-cc-amex" aria-hidden="true"></i>){% if credit_card_flag == false %} <small>comming soon!</small>{% endif %}
              </label>
            </div>
          </div><!-- ./form-group -->
          </div><!-- ./col -->
        </div><!-- ./row -->
        <br>
        <div class="collapse" id="cc_form">
          <div class="row">
            <div class="col-md-12">
              <div class="row">
                <div class="col-md-3">
                  <div class="form-group">
                    <label class="control-label required" for="donation_cc_cardholderFirstName">First Name</label>
                    <input type="text" class="form-control form-control-lg" id="donation_cc_cardholderFirstName" name="donation[cc][cardholderFirstName]">
                  </div>
                </div>
                <!-- ./column -->
                <div class="col-md-5">
                  <div class="form-group">
                    <label class="control-label required" for="donation_cc_cardholderLastName">Last Name</label>
                    <input type="text" class="form-control form-control-lg" id="donation_cc_cardholderLastName" name="donation[cc][cardholderLastName]">
                  </div>
                </div>
                <!-- ./column -->
                <div class="col-md-4">
                  <div class="form-group">
                    <label class="control-label required" for="donation_cc_country">Country</label>
                    <select id="donation_cc_country" name="donation[cc][country]" class="form-control form-control-lg">
                      <option value="US" selected="selected">United States</option>
                      <option value="AF">Afghanistan</option>
                      <option value="AX">Aland Islands</option>
                      <option value="AL">Albania</option>
                      <option value="DZ">Algeria</option>
                      <option value="AS">American Samoa</option>
                      <option value="AD">Andorra</option>
                      <option value="AO">Angola</option>
                      <option value="AI">Anguilla</option>
                      <option value="AQ">Antarctica</option>
                      <option value="AG">Antigua and Barbuda</option>
                      <option value="AR">Argentina</option>
                      <option value="AM">Armenia</option>
                      <option value="AW">Aruba</option>
                      <option value="AU">Australia</option>
                      <option value="AT">Austria</option>
                      <option value="AZ">Azerbaijan</option>
                      <option value="BS">Bahamas</option>
                      <option value="BH">Bahrain</option>
                      <option value="BD">Bangladesh</option>
                      <option value="BB">Barbados</option>
                      <option value="BY">Belarus</option>
                      <option value="BE">Belgium</option>
                      <option value="BZ">Belize</option>
                      <option value="BJ">Benin</option>
                      <option value="BM">Bermuda</option>
                      <option value="BT">Bhutan</option>
                      <option value="BO">Bolivia</option>
                      <option value="BA">Bosnia and Herzegovina</option>
                      <option value="BW">Botswana</option>
                      <option value="BV">Bouvet Island</option>
                      <option value="BR">Brazil</option>
                      <option value="IO">British Indian Ocean Territory</option>
                      <option value="BN">Brunei Darussalam</option>
                      <option value="BG">Bulgaria</option>
                      <option value="BF">Burkina Faso</option>
                      <option value="BI">Burundi</option>
                      <option value="KH">Cambodia</option>
                      <option value="CM">Cameroon</option>
                      <option value="CA">Canada</option>
                      <option value="CV">Cape Verde</option>
                      <option value="KY">Cayman Islands</option>
                      <option value="CF">Central African Republic</option>
                      <option value="TD">Chad</option>
                      <option value="CL">Chile</option>
                      <option value="CN">China</option>
                      <option value="CX">Christmas Island</option>
                      <option value="CC">Cocos (Keeling) Islands</option>
                      <option value="CO">Colombia</option>
                      <option value="KM">Comoros</option>
                      <option value="CG">Congo</option>
                      <option value="CK">Cook Islands</option>
                      <option value="CR">Costa Rica</option>
                      <option value="CI">Cote D'Ivoire (Ivory Coast)</option>
                      <option value="HR">Croatia (Hrvatska)</option>
                      <option value="CW">Curacao</option>
                      <option value="CY">Cyprus</option>
                      <option value="CZ">Czech Republic</option>
                      <option value="CD">Democratic Republic of the Congo</option>
                      <option value="DK">Denmark</option>
                      <option value="DJ">Djibouti</option>
                      <option value="DM">Dominica</option>
                      <option value="DO">Dominican Republic</option>
                      <option value="TP">East Timor</option>
                      <option value="EC">Ecuador</option>
                      <option value="EG">Egypt</option>
                      <option value="SV">El Salvador</option>
                      <option value="GQ">Equatorial Guinea</option>
                      <option value="ER">Eritrea</option>
                      <option value="EE">Estonia</option>
                      <option value="ET">Ethiopia</option>
                      <option value="FK">Falkland Islands (Malvinas)</option>
                      <option value="FO">Faroe Islands</option>
                      <option value="FM">Federated States of Micronesia</option>
                      <option value="FJ">Fiji</option>
                      <option value="FI">Finland</option>
                      <option value="FR">France</option>
                      <option value="FX">France, Metropolitan</option>
                      <option value="GF">French Guiana</option>
                      <option value="PF">French Polynesia</option>
                      <option value="TF">French Southern Territories</option>
                      <option value="GA">Gabon</option>
                      <option value="GM">Gambia</option>
                      <option value="GE">Georgia</option>
                      <option value="DE">Germany</option>
                      <option value="GH">Ghana</option>
                      <option value="GI">Gibraltar</option>
                      <option value="GB">Great Britain (UK)</option>
                      <option value="GR">Greece</option>
                      <option value="GL">Greenland</option>
                      <option value="GD">Grenada</option>
                      <option value="GP">Guadeloupe</option>
                      <option value="GU">Guam</option>
                      <option value="GT">Guatemala</option>
                      <option value="GN">Guinea</option>
                      <option value="GW">Guinea-Bissau</option>
                      <option value="GY">Guyana</option>
                      <option value="HT">Haiti</option>
                      <option value="HM">Heard Island and McDonald Islands</option>
                      <option value="HN">Honduras</option>
                      <option value="HK">Hong Kong</option>
                      <option value="HU">Hungary</option>
                      <option value="IS">Iceland</option>
                      <option value="IN">India</option>
                      <option value="ID">Indonesia</option>
                      <option value="IQ">Iraq</option>
                      <option value="IE">Ireland</option>
                      <option value="IL">Israel</option>
                      <option value="IT">Italy</option>
                      <option value="JM">Jamaica</option>
                      <option value="JP">Japan</option>
                      <option value="JO">Jordan</option>
                      <option value="KZ">Kazakhstan</option>
                      <option value="KE">Kenya</option>
                      <option value="KI">Kiribati</option>
                      <option value="KR">Korea (South)</option>
                      <option value="XK">Kosovo</option>
                      <option value="KW">Kuwait</option>
                      <option value="KG">Kyrgyzstan</option>
                      <option value="LA">Laos</option>
                      <option value="LV">Latvia</option>
                      <option value="LB">Lebanon</option>
                      <option value="LS">Lesotho</option>
                      <option value="LR">Liberia</option>
                      <option value="LY">Libya</option>
                      <option value="LI">Liechtenstein</option>
                      <option value="LT">Lithuania</option>
                      <option value="LU">Luxembourg</option>
                      <option value="MO">Macao</option>
                      <option value="MK">Macedonia</option>
                      <option value="MG">Madagascar</option>
                      <option value="MW">Malawi</option>
                      <option value="MY">Malaysia</option>
                      <option value="MV">Maldives</option>
                      <option value="ML">Mali</option>
                      <option value="MT">Malta</option>
                      <option value="MH">Marshall Islands</option>
                      <option value="MQ">Martinique</option>
                      <option value="MR">Mauritania</option>
                      <option value="MU">Mauritius</option>
                      <option value="YT">Mayotte</option>
                      <option value="MX">Mexico</option>
                      <option value="MD">Moldova</option>
                      <option value="MC">Monaco</option>
                      <option value="MN">Mongolia</option>
                      <option value="ME">Montenegro</option>
                      <option value="MS">Montserrat</option>
                      <option value="MA">Morocco</option>
                      <option value="MZ">Mozambique</option>
                      <option value="MM">Myanmar</option>
                      <option value="NA">Namibia</option>
                      <option value="NR">Nauru</option>
                      <option value="NP">Nepal</option>
                      <option value="NL">Netherlands</option>
                      <option value="AN">Netherlands Antilles</option>
                      <option value="NC">New Caledonia</option>
                      <option value="NZ">New Zealand (Aotearoa)</option>
                      <option value="NI">Nicaragua</option>
                      <option value="NE">Niger</option>
                      <option value="NG">Nigeria</option>
                      <option value="NU">Niue</option>
                      <option value="NF">Norfolk Island</option>
                      <option value="MP">Northern Mariana Islands</option>
                      <option value="NO">Norway</option>
                      <option value="OM">Oman</option>
                      <option value="PK">Pakistan</option>
                      <option value="PW">Palau</option>
                      <option value="PS">Palestinian Territory</option>
                      <option value="PA">Panama</option>
                      <option value="PG">Papua New Guinea</option>
                      <option value="PY">Paraguay</option>
                      <option value="PE">Peru</option>
                      <option value="PH">Philippines</option>
                      <option value="PN">Pitcairn</option>
                      <option value="PL">Poland</option>
                      <option value="PT">Portugal</option>
                      <option value="PR">Puerto Rico</option>
                      <option value="QA">Qatar</option>
                      <option value="RE">Reunion</option>
                      <option value="RO">Romania</option>
                      <option value="RU">Russian Federation</option>
                      <option value="RW">Rwanda</option>
                      <option value="GS">S. Georgia and S. Sandwich Islands</option>
                      <option value="SH">Saint Helena</option>
                      <option value="KN">Saint Kitts and Nevis</option>
                      <option value="LC">Saint Lucia</option>
                      <option value="MF">Saint Martin</option>
                      <option value="SX">Sint Maarten</option>
                      <option value="PM">Saint Pierre and Miquelon</option>
                      <option value="VC">Saint Vincent and the Grenadines</option>
                      <option value="WS">Samoa</option>
                      <option value="SM">San Marino</option>
                      <option value="ST">Sao Tome and Principe</option>
                      <option value="SA">Saudi Arabia</option>
                      <option value="SN">Senegal</option>
                      <option value="RS">Serbia</option>
                      <option value="SC">Seychelles</option>
                      <option value="SL">Sierra Leone</option>
                      <option value="SG">Singapore</option>
                      <option value="SK">Slovakia</option>
                      <option value="SI">Slovenia</option>
                      <option value="SB">Solomon Islands</option>
                      <option value="SO">Somalia</option>
                      <option value="ZA">South Africa</option>
                      <option value="ES">Spain</option>
                      <option value="LK">Sri Lanka</option>
                      <option value="SS">South Sudan</option>
                      <option value="SR">Suriname</option>
                      <option value="SJ">Svalbard and Jan Mayen</option>
                      <option value="SZ">Swaziland</option>
                      <option value="SE">Sweden</option>
                      <option value="CH">Switzerland</option>
                      <option value="TW">Taiwan</option>
                      <option value="TJ">Tajikistan</option>
                      <option value="TZ">Tanzania</option>
                      <option value="TH">Thailand</option>
                      <option value="TL">Timor-Leste</option>
                      <option value="TG">Togo</option>
                      <option value="TK">Tokelau</option>
                      <option value="TO">Tonga</option>
                      <option value="TT">Trinidad and Tobago</option>
                      <option value="TN">Tunisia</option>
                      <option value="TR">Turkey</option>
                      <option value="TM">Turkmenistan</option>
                      <option value="TC">Turks and Caicos Islands</option>
                      <option value="TV">Tuvalu</option>
                      <option value="SU">USSR (former)</option>
                      <option value="UG">Uganda</option>
                      <option value="UA">Ukraine</option>
                      <option value="AE">United Arab Emirates</option>
                      <option value="UK">United Kingdom</option>
                      <option value="UM">United States Minor Outlying Islands</option>
                      <option value="UY">Uruguay</option>
                      <option value="UZ">Uzbekistan</option>
                      <option value="VU">Vanuatu</option>
                      <option value="VA">Vatican City State (Holy See)</option>
                      <option value="VE">Venezuela</option>
                      <option value="VN">Viet Nam</option>
                      <option value="VG">Virgin Islands (British)</option>
                      <option value="VI">Virgin Islands (U.S.)</option>
                      <option value="WF">Wallis and Futuna</option>
                      <option value="EH">Western Sahara</option>
                      <option value="YE">Yemen</option>
                      <option value="YU">Yugoslavia (former)</option>
                      <option value="ZR">Zaire (former)</option>
                      <option value="ZM">Zambia</option>
                      <option value="ZW">Zimbabwe</option>
                    </select>
                  </div>
                </div>
                <!-- ./column -->
              </div>
              <!-- ./row -->
            </div>
            <!-- ./column -->
          </div>
          <!-- ./row -->
          <div class="row">
            <div class="col-md-12">
              <div class="row">
                <div class="col-md-8">
                  <div class="form-group">
                    <label class="control-label required" for="donation_cc_number">Card Number</label>
                    <input type="number" class="form-control form-control-lg" id="donation_cc_number" name="donation[cc][number]">
                  </div>
                </div>
                <!-- ./column -->
                <div class="col-md-4">
                  <div class="form-group">
                    <label class="control-label required" for="donation_cc_zipCode">Zip code</label>
                    <input type="text" maxlength="20" class="form-control form-control-lg" id="donation_cc_zipCode" name="donation[cc][zipCode]">
                  </div>
                </div>
                <!-- ./column -->
              </div>
              <!-- ./row -->
            </div>
            <!-- ./column -->
          </div>
          <!-- ./row -->
          <div class="row">
            <div class="col-md-12">
              <div class="row">
                <div class="col-md-8">
                  <div class="form-group">
                    <label class="control-label required" for="donation_cc_expirationMonth">Expiration Date</label>
                    <div class="form-group">
                      <div class="col-sm-5" style="display: inline-block;">
                        <select id="donation_cc_expirationMonth" name="donation[cc][expirationMonth]" class="form-control form-control-lg">
                          <option value="0" selected="selected">MM</option>
                          <option value="1">Jan</option>
                          <option value="2">Feb</option>
                          <option value="3">Mar</option>
                          <option value="4">Apr</option>
                          <option value="5">May</option>
                          <option value="6">Jun</option>
                          <option value="7">Jul</option>
                          <option value="8">Aug</option>
                          <option value="9">Sep</option>
                          <option value="10">Oct</option>
                          <option value="11">Nov</option>
                          <option value="12">Dec</option>
                        </select>
                      </div>
                      <div class="col-sm-1" style="display: inline-block;">
                        <p>/</p>
                      </div>
                      <div class="col-sm-5" style="display: inline-block;">
                          <select id="donation_cc_expirationYear" name="donation[cc][expirationYear]" class="form-control form-control-lg">
                            <option value="0" selected="selected">YYYY</option>
                            <option value="2017">2017</option>
                            <option value="2018">2018</option>
                            <option value="2019">2019</option>
                            <option value="2020">2020</option>
                            <option value="2021">2021</option>
                            <option value="2022">2022</option>
                            <option value="2023">2023</option>
                            <option value="2024">2024</option>
                            <option value="2025">2025</option>
                          </select>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="form-group">
                    <label class="control-label required" for="donation_cc_cvv">cvv code</label>
                    <div class="input-group">
                      <span
                        class="input-group-addon"
                        id="basic-addon1"
                        data-toggle="tooltip"
                        data-placement="top"
                        title="CVV is a 3 or 4 digit code embossed or imprinted on the reverse side of Visa, MasterCard and Discover cards and on the front of American Express cards.">
                        <i class="fa fa-credit-card" aria-hidden="true"></i>
                    </span>
                    <input type="text" maxlength="4" class="form-control form-control-lg" id="donation_cc_cvv" name="donation[cc][cvv]">
                  </div>
                </div>
              </div>
              <!-- ./column -->
            </div>
            <!-- ./row -->
          </div>
          <!-- ./column -->
        </div>
        <!-- ./row -->
      </div>
      <!-- ./collapse -->
      <hr>
      <div class="row">
        <div class="col-md-12">
          <input type="hidden" id="donation_campaignID" name="donation[campaignID]" value="{{campaign.id}}">
          <input type="hidden" id="donation_donationType" name="donation[donationType]" value="{{donationType}}">
          <button type="submit" id="submit" class="btn btn-primary btn-lg btn-block">DONATE</button>
        </div>
        <!-- ./column -->
      </div>
      <!-- ./row -->
    </div>
    <!-- /column -->
    <div class="col-md-4">
      {% if donationType == "team" %}
      {% if team.imageName is null %}
      {% set profileImageUrl = '/static/img/team-' ~ team.teamType.value ~ '-image-2.png' %}
      {% else %}
      {% set profileImageUrl = '/uploads/team_profile_photos/' ~team.imageName %}
      {% endif %}

        <div class="row">
          <div class="col">
            <div class="card my-1">
              <img src="{{ profileImageUrl }}" alt="Family Image" class="card-img-top img-fluid">
              <div class="card-block">
                <h4 class="card-title">{{ team.name }}</h4>
                <p class="card-text">{{ team.description[:100] }}...</p>
                <p class="card-text lead" style="margin-bottom:5px;">$0</p>
                <p class="card-text">
                  <small>of ${{ team.fundingGoal|number_format(0, '.', ',') }}
                    goal</small>
                </p>
                <br>
                <div class="progress">
                  <div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="{{ 0 / team.fundingGoal * 100 }}" aria-valuemin="0" aria-valuemax="100" style="width:{{ 0 / team.fundingGoal * 100 }}%"></div>
                </div>
              </div>
              <!-- ./card-block -->
            </div>
            <!-- ./card -->
          </div>
          <!-- ./col -->
        </div>
        <!-- ./row -->
        <br>
      {% endif %}
      <div class="row">
        <div class="col">
          <div class="card  my-1">
            <div class="card-header">About your
              {{donationType|capitalize}}
              Donation
            </div>
            <div class="card-block">
              {% if donationType == "campaign" %}
                <p>This donation will be made to the general
                  {{ campaign.name }}
                  campaign.</p>
              {% elseif donationType == "student" %}
                <p>Donation will be credited to an individual student.</p>
              {% elseif donationType == "classroom" %}
                <p>Donation credit will be given to the classroom of your choosing, meaning that donation credit towards awards will be split evenly amongst all students in classroom.</p>
              {% elseif donationType == "team" %}
                <p>Donation credit will be given to the
                  {{ team.name }}
                  team.</p>
              {% endif %}
              <hr>
              <div>Other Donation Options:</div>
              {% if donationType != 'campaign' %}
                <a href="{{ path('donation_index', {'campaignUrl': campaign.url , 'type': 'campaign'}) }}" class="btn btn-info btn-sm btn-block">Donate to general campaign</a>
              {% endif %}
              {% if app.request.query.get("classroomID")is defined %}
                {% if donationType != 'student' %}
                  <a href="{{ path('donation_index', {'campaignUrl': campaign.url, 'type': 'student', 'classroomID': app.request.query.get(" classroomID") }) }}" class="btn btn-info btn-sm btn-block">Donate to a Student</a>
                {% endif %}
                {% if donationType != 'classroom' %}
                  <a href="{{ path('donation_index', {'campaignUrl': campaign.url, 'type': 'classroom', 'classroomID': app.request.query.get(" classroomID") }) }}" class="btn btn-info btn-sm btn-block">Donate to a Classroom</a>
                {% endif %}
              {% else %}
                {% if donationType != 'student' %}
                  <a href="{{ path('donation_index', {'campaignUrl': campaign.url, 'type': 'student' }) }}" class="btn btn-info btn-sm btn-block">Donate to a Student</a>
                {% endif %}
                {% if donationType != 'classroom' %}
                  <a href="{{ path('donation_index', {'campaignUrl': campaign.url, 'type': 'classroom' }) }}" class="btn btn-info btn-sm btn-block">Donate to a Classroom</a>
                {% endif %}
              {% endif %}
              {% if donationType != 'team' %}
                <a href="{{ path('team_index', {'campaignUrl': campaign.url }) }}" class="btn btn-info btn-sm btn-block">Donate to a Team</a>
              {% endif %}
            </div>
            <!-- ./card-block -->
          </div>
          <!-- ./card -->
        </div>
        <!-- ./col -->
      </div>
      <!-- ./row -->
      <div class="row">
        <div class="col">
          <div class="card my-1">
            <div class="card-header">Secure Donations</div>
            <div class="card-block">
              <p>We take security seriously at FRManager, which is why we have partnered with PayPal to provide the upmost level of security for your donation.</p>
              <!-- PayPal Logo --><table border="0" cellpadding="10" cellspacing="0" align="center"><tr><td align="center"></td></tr><tr><td align="center"><a href="https://www.paypal.com/webapps/mpp/paypal-popup" title="How PayPal Works" onclick="javascript:window.open('https://www.paypal.com/webapps/mpp/paypal-popup','WIPaypal','toolbar=no, location=no, directories=no, status=no, menubar=no, scrollbars=yes, resizable=yes, width=1060, height=700'); return false;">
              <img src="https://www.paypalobjects.com/digitalassets/c/website/marketing/na/us/logo-center/9_bdg_secured_by_pp_2line.png" border="0" alt="Secured by PayPal"></a></td></tr></table><!-- PayPal Logo -->
            </div>
            <!-- ./card-block -->
          </div>
          <!-- ./card -->
        </div>
        <!-- ./col -->
      </div>
      <!-- ./row -->
    </div>
    <!-- ./col -->
  </div>
  <!-- ./row -->
</form>

{% endblock %}

{% block javascripts %}
<script type='application/javascript' src="{{ asset('assets/js/libs/spin.min.js') }}"></script>

<script>
  $(document).ready(function() {
    //called when key is pressed in textbox
    $("#donation_amount, #donation_cc_expirationMonth, #donation_cc_expirationYear, #donation_cc_cvv").keypress(function(e) {
      //if the letter is not digit then display error and don't type anything
      if (e.which != 8 && e.which != 0 && (e.which < 48 || e.which > 57)) {
        return false;
      }
    });

    $('#cc_form').collapse("hide");

    $('input:radio[name="donation[paymentMethod]"]').change(function() {
      if ($(this).val() == "cc") {
        $('#cc_form').collapse("show");
      } else {
        $('#cc_form').collapse("hide");
      }
    });

    $(function() {
      $('[data-toggle="tooltip"]').tooltip()
    })


    $( "#submit" ).click(function() {
      var failed = false;

      if($("#donation_firstName").val() == ""){
        failed = true;
      };

      if($("#donation_lastName").val() == ""){
        failed = true;
      };

      if($("#donation_email").val() == ""){
        failed = true;
      };

      if(!failed){
        var opts = {
          lines: 13 // The number of lines to draw
        , length: 28 // The length of each line
        , width: 14 // The line thickness
        , radius: 42 // The radius of the inner circle
        , scale: 1 // Scales overall size of the spinner
        , corners: 1 // Corner roundness (0..1)
        , color: '#000' // #rgb or #rrggbb or array of colors
        , opacity: 0.25 // Opacity of the lines
        , rotate: 0 // The rotation offset
        , direction: 1 // 1: clockwise, -1: counterclockwise
        , speed: 1 // Rounds per second
        , trail: 60 // Afterglow percentage
        , fps: 20 // Frames per second when using setTimeout() as a fallback for CSS
        , zIndex: 2e9 // The z-index (defaults to 2000000000)
        , className: 'spinner' // The CSS class to assign to the spinner
        , top: '50%' // Top position relative to parent
        , left: '50%' // Left position relative to parent
        , shadow: false // Whether to render a shadow
        , hwaccel: false // Whether to use hardware acceleration
        , position: 'absolute' // Element positioning
        }

        var target = document.getElementById('overlay_center')
        var spinner = new Spinner(opts).spin(target);
        $('#overlay').show()
      }
  });













  });
</script>
{% endblock %}
