{% extends 'template.html.twig' %}

{% block body %}
  <div class="row">
      <div class="col-md-12">
          <h1>Active Campaigns</h1>
          <hr/>
      </div>
  </div>
  {% for campaign in campaigns %}
  {% set notStarted = false %}
  {% set difference = date(campaign.endDate|date('Y/m/d')).diff(date('now'|date('Y/m/d'))) %}
  {% set leftDays = difference.days %}
  {% if date('now'|date('Y/m/d')) > date(campaign.endDate|date('Y/m/d')) %}
  {% set leftDays = leftDays * -1 %}
  {% endif %}
  {% if date('now'|date('Y/m/d')) < date(campaign.startDate|date('Y/m/d')) %}
    {% set notStarted = true %}
    {% set difference = date(campaign.startDate|date('Y/m/d')).diff(date('now'|date('Y/m/d'))) %}
    {% set startDays = difference.days %}
  {% endif %}
  <div class="row">
    <div class="col-md-10 offset-md-1">
      <div class="card card-outline-info mb-3">
          <div class="row">
            <div class="col-md-4">
              <img class="img-fluid img-thumbnail" src="/assets/img/FunRun2017-banner.png"  alt="Campaign Img">
            </div><!-- ./col -->
            <div class="col-md-8">
              <div class="card-block">
                <h4 class="card-title"><a href="{{ path(entity|lower ~ '_index', { 'campaignUrl': campaign.url }) }}">{{ campaign.name }}</a></h4>
                <p class="card-text">{{ campaign.description }} | {% if notStarted %}<span class="badge badge-info">Starts in {{startDays}} days</span>{% else %}{% if leftDays <= 0 %}<span class="badge badge-warning">Ended</span>{% else %}<span class="badge badge-success">{{ leftDays }} days left</span>{% endif %}{% endif %}</p>
              </div><!-- ./card-block -->
            </div><!-- ./col -->
          </div><!-- ./row -->
      </div><!-- ./card -->
    </div><!-- ./col -->
  </div><!-- ./row -->
  <br>
            {% endfor %}
{% endblock %}
