{% extends 'template.html.twig' %}

{% block body %}
<div class="row">
    <div class="col-md-12">
        <h1>FAQ</h1>
        <hr/>
    </div>
</div>
    <div class="row">
        <div class="col-md-12">
            <div class="card card-outline-primary">
                <div class="card-block">
                  <h4 class="card-title">How do I win <strong>BIG</strong> for my childs class?</h4>
                  <hr>
                  <p>
                        <ol class="normal">
                            <li>Create a fundraiser page for your child by going to <a href="{{ path('user_registration', {'campaignUrl': campaignUrl}) }}">{{campaign.url}}/register</a>.</li>
                            <li>Confirm your email address.</li>
                            <li>Confirm your Team type
                              <ul>
                                <li><strong>Family:</strong> Add multiple students and all donations are split equally amongst students and their classroom.</li>
                                <li><strong>Student:</strong> Fundraiser page for an individual student.</li>
                                <li><strong>Teacher:</strong> Fundraiser page for an individaul classroom. all donations are split equally amongst all students.</li>
                              </ul>
                            </li>
                            <li>Login to your campaign
                                <a href="{{ path('login', {'campaignUrl': campaignUrl}) }}">{{campaign.url}}/login</a>
                                to customize your donation page, join your classes’ team, and create blog posts.</li>
                            <li>Share your page with your family, friends, Facebook friends, and twitter followers!</li>
                        </ol>
                    </p>
                </div>
            </div>
        </div><!-- ./col -->
      </div><!-- ./row -->
      <br>
      <div class="row">
        <div class="col-md-12">
            <div class="card card-outline-primary">
                <div class="card-block">
                    <h4 class="card-title">How do I make a donation?</h4>
                    <hr>
                    <p>
                        <ol class="normal">
                            <li>To make a donation, go <a href="{{ path('donation_index', {'campaignUrl':campaign.url}) }}">Here</a></li>
                            <li>Make sure to either select the Team, Student, or Classroom you want to donate to. Donating to the general campaign does not grant students or their classrooms credit towards awards.</li>
                            <li>All donations are made securely thanks to PayPal</li>
                        </ol>
                    </p>
                </div>
            </div>
          </div><!-- ./col -->
        </div><!-- ./row -->
        <br>
        <div class="row">
          <div class="col-md-12">
              <div class="card card-outline-primary">
                  <div class="card-block">
                      <h4 class="card-title">Who do I contact if I have a question about this campaign?</h4>
                      <hr>
                      <p>Send an email to {{campaign.email}} if you have questions about this campaign.</p>
                  </div>
              </div>
            </div><!-- ./col -->
          </div><!-- ./row -->
          <br>
          <div class="row">
            <div class="col-md-12">
                <div class="card card-outline-primary">
                    <div class="card-block">
                        <h4 class="card-title">Who do I contact if I have issues with the FR Manager platform?</h4>
                        <hr>
                        <p>You have 2 Options:</p>
                        <p>
                            <ol class="normal">
                                <li>You can contact support right from the application by either clicking <a href="#">Here</a> or clicking on <i class="fa fa-question-circle" aria-hidden="true"></i> Help > <i class="fa fa-envelope" aria-hidden="true"></i> Email Support a the top of the page.</li>
                                <li>Send an email to FunRun@lrespto.org if you have questions about this campaign.</li>
                            </ol>
                        </p>
                    </div>
                </div>
              </div><!-- ./col -->
            </div><!-- ./row -->
{% endblock %}
