{% if app.request.attributes.get('_route_params')['campaignUrl'] is defined %}
{% set campaignUrl = null %}
{% set campaignUrl = app.request.attributes.get('_route_params')['campaignUrl'] %}
{% endif %}

{% if campaign is defined %}
  {% if date('now' | date('Y/m/d')) < date(campaign.startDate | date('Y/m/d')) %}
    {% set notStarted = true %}
  {% else %}
    {% set notStarted = false %}
  {% endif %}
  {% if date('now' | date('Y/m/d')) >= date(campaign.endDate | date('Y/m/d')) %}
    {% set isEnded = true %}
  {% else %}
    {% set isEnded = false %}
  {% endif %}
{% endif %}
{% set userTeam = null %}
{% set hasTeamFlag = false %}
{% if app.user.teams is defined %}
  {% for team in app.user.teams %}
  {% if team.campaign.id == campaign.id %}
    {% set hasTeamFlag = true %}
    {% set userTeam = team %}
  {% endif %}
  {% endfor %}
{% endif %}
<!DOCTYPE html>
<html>
<head>
<base target="_parent"/>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
{% block meta %}{% endblock %}
<!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
<title>{% block title %}{% endblock %}</title>
{% if campaign is defined and campaign.theme is not null %}
 {% set theme = campaign.theme %}
{% else %}
  {% set theme = 'cerulean' %}
{% endif %}
 <link rel="shortcut icon" href="{{ asset('static/favicon.ico') }}">
 <link rel="icon" type="image/x-icon" href="{{ asset('static/favicon.ico') }}"/>

  <!-- WebPack CSS -->
  <link rel="stylesheet" href="{{ asset('build/app.css') }}">

{% block css %}{% endblock %}

<!-- GOOGLE ANALYTICS -->
<script>
          (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
          (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
          m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
          })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
          ga('create', 'UA-84729114-1', 'auto');
          ga('send', 'pageview');
        </script>
<!-- FACEBOOK TAB -->
<script src="//connect.facebook.net/en_US/all.js"></script>
<script type="text/javascript" charset="utf-8">
        window.fbAsyncInit = function()
        {
            FB.init({ appId: 'appid',
            status: true,
            cookie: true,
            xfbml: true,
            oauth: true});
            FB.Canvas.setAutoGrow();
        }
        </script>


<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.10&appId=281668245541972";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
<!--[if lt IE 9]> <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script> <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script> <![endif]-->


</head>
<body id="body">
<nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
 {% if campaign is defined %}
   <a class="navbar-brand d-none d-sm-block" href="{{ path('campaign_index', {'campaignUrl': campaignUrl}) }}">{{campaign.name}}</a>
 {% endif %}
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
  </button>
   {% if campaign is defined %}
	<div class="collapse navbar-collapse" id="navbarSupportedContent">
    {% if campaign is defined and not notStarted and not isEnded %}
		<ul class="navbar-nav mr-auto">
  			<li class="nav-item{% if app.request.attributes.get('_route')=='campaign_index'%} active{% endif %}">
  			     <a href="{{ path('campaign_dashboard', {'campaignUrl': campaignUrl}) }}" class="nav-link">
  			     <i class="fas fa-tachometer-alt" aria-hidden="true"></i> Home </a>
  			</li>
        <li class="nav-item{% if app.request.attributes.get('_route')=='donation_index'%} active{% endif %}">
          {% if app.request.attributes.get('_route') == 'team_show' %}
            <a href="{{ path('donation_index', {'campaignUrl':campaign.url, 'teamUrl':team.url, 'type':'team'}) }}" class="nav-link">Donate</a>
          {% elseif app.request.attributes.get('_route') == 'classroom_show' %}
            <a href="{{ path('donation_index', {'campaignUrl':campaign.url, 'classroomID':classroom.id, 'type':'classroom'}) }}" class="nav-link">Donate</a>
          {% else %}
            <a href="{{ path('donation_index', {'campaignUrl':campaign.url}) }}" class="nav-link"><i class="fas fa-donate" aria-hidden="true"></i> Donate</a>
          {% endif %}

        </li>
        <li class="dropdown nav-item">
          <a class="nav-link dropdown-toggle" href="#" class="dropdown-toggle" id="drop2" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
          Rankings <span class="caret"></span>
          </a>
            <div class="dropdown-menu" aria-labelledby="drop2">
        			<a class="dropdown-item {% if app.request.attributes.get('_route')=='grade_index'%} active {% endif %}" href="{{ path('grade_index', {'campaignUrl': campaignUrl}) }}">
        			<span class="fa fa-graduation-cap"></span> Grade Rankings</a>
        			<a class="dropdown-item {% if app.request.attributes.get('_route')=='classroom_index'%} active {% endif %}" href="{{ path('classroom_index', {'campaignUrl': campaignUrl}) }}">
        			<span class="fab fa-apple"></span> Class Rankings</a>
        			<a class="dropdown-item {% if app.request.attributes.get('_route')=='student_index'%} active {% endif %}" href="{{ path('student_index', {'campaignUrl': campaignUrl}) }}">
        			<span class="fa fa-child"></span> Student Rankings</a>              
              <a class="dropdown-item {% if app.request.attributes.get('_route')=='team_index'%} active {% endif %}" href="{{ path('team_index', {'campaignUrl': campaignUrl}) }}">
              <span class="fa fa-users"></span> Team Rankings</a>
            </div>
      		</li>
    </ul>
    {% endif %}
    {% endif %}
    {% if campaign is defined and not notStarted and not isEnded %}
      <ul class="navbar-nav ml-auto">
      {% if is_granted('ROLE_USER') and campaign is defined %}
          <li class="dropdown nav-item">
            <a href="#" class="nav-link dropdown-toggle" id="drop4" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <i class="fa fa-question-circle" aria-hidden="true"></i> Help <span class="caret"></span>
            </a>
            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="drop4">
              <a class="dropdown-item" href="{{ path('campaign_faq', {'campaignUrl': campaign.url }) }}"><i class="fa fa-book" aria-hidden="true"></i> FAQs</a>
              <a class="dropdown-item" href="{{ path('email_support', {'campaignUrl': campaignUrl}) }}"><i class="fa fa-envelope" aria-hidden="true"></i> Email Support</a>
            </div>
          </li>
    			<li class="dropdown nav-item">
      			<a href="#" class="nav-link dropdown-toggle" id="drop3" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      			     <i class="fa fa-user-circle-o" aria-hidden="true"></i> {{ app.user.firstName }} <span class="caret"></span>
      			</a>
      			<div class="dropdown-menu dropdown-menu-right" aria-labelledby="drop3">
              <a class="dropdown-item" href="{{ path('profile_show', {'campaignUrl': campaignUrl}) }}"><i class="fa fa-user" aria-hidden="true"></i> View Profile</a>
              {% if hasTeamFlag and userTeam is defined %}
              <hr/>
              <a class="dropdown-item" href="{{ path('team_edit', {'campaignUrl': campaignUrl, 'teamUrl': userTeam.url}) }}"><i class="fas fa-pencil-alt" aria-hidden="true"></i> Manage Team</a>
              <a class="dropdown-item" href="{{ path('team_show', {'campaignUrl': campaignUrl, 'teamUrl': userTeam.url}) }}"><i class="fa fa-users" aria-hidden="true"></i> View Team</a>
              {% else %}
              <a class="dropdown-item" href="{{ path('register_team_select', {'campaignUrl': campaignUrl}) }}">Register Team</a>
              {% endif %}
              <hr>
      				<a class="dropdown-item" href="{{ path('logout', {'campaignUrl': campaignUrl}) }}"><i class="fa fa-sign-out" aria-hidden="true"></i> Logout</a>
      			</div>
    			</li>
			 {% elseif (app.request.attributes.get('_route') not in ['homepage']) %}
             <li class="dropdown nav-item">
               <a href="#" class="nav-link dropdown-toggle" id="drop4" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                 <i class="fa fa-question-circle" aria-hidden="true"></i> Help <span class="caret"></span>
               </a>
               <div class="dropdown-menu dropdown-menu-right" aria-labelledby="drop4">
                 <a class="dropdown-item" href="{{ path('campaign_faq', {'campaignUrl': campaign.url }) }}"><i class="fa fa-book" aria-hidden="true"></i> FAQs</a>
                 <a class="dropdown-item" href="{{ path('email_support', {'campaignUrl': campaignUrl}) }}"><i class="fa fa-envelope" aria-hidden="true"></i> Email Support</a>
               </div>
             </li>
             <li class="nav-item">
         			<a class="nav-link" href="{{ path('user_registration', {'campaignUrl': campaignUrl}) }}" role="button">Sign up!</a>
         			</li>
            <li class="nav-item">
      			<a class="nav-link" href="{{ path('login', {'campaignUrl': campaignUrl}) }}" role="button">Login</a>
      			</li>

			 {% endif %}
       </ul>
    {% endif %}
</div><!-- ./navbar-collapse -->
</nav><!-- ./nav -->
<div class="container body-container">
  <br>
  <br>
  <br>
	 {% for type, messages in app.session.flashBag.all() %} {% for message in messages %}
	<div class="row">
		<div class="col-md-8 offset-md-2">
			<div class="alert alert-{{type}} alert-dismissible" role="alert">
				<button type="button" class="close" data-dismiss="alert" aria-label="Close">
				<span aria-hidden="true">&times;</span>
				</button>
				{{message}}
			</div>
		</div>
	</div>
	 {% endfor %} {% endfor %}
	<div id="content">
		 {% block body %}{% endblock %}
	</div>
  <br>
  <div class="footer">
  <br>
	<div class="row">
		<div class="col-md-10 offset-md-1">
			<div class="">
        {% if campaign is defined %}
        <!-- <a href="{{ path('campaign_faq', {'campaignUrl': campaign.url }) }}" role="button">FAQs</a></br> -->
        {% endif %}
			</div>
		</div>
	</div>
  <hr>
  <div class="row">
		<div class="col-md-10 offset-md-1">
			<div class="license" style="text-align:center;">
				<i class="fa fa-bolt" aria-hidden="true"></i> Powered by <strong>FR-MANAGER</strong> (<small><i class="fa fa-copyright" aria-hidden="true"></i> 2018 All rights reserved</small>).
			</div>
		</div>
	</div>
  <br>
 </div>
 </div><!-- ./body-container -->
	<a id="back-to-top" href="#" class="btn btn-primary btn-lg back-to-top" role="button" data-toggle="tooltip" data-placement="left">
	<i class="fa fa-chevron-up"></i>
	</a>

  <!-- WebPack JS -->
  <script src="{{ asset('build/app.js') }}"></script>

{% block javascripts %}{% endblock %}
</body>
</html>
