{% extends 'template.email.html.twig' %}

{% block subject %}Resetting your password{% endblock %}

{% block body %}
<h3>Hello {{ user.email }} !</h3>

<p>
  You can reset your password by accessing <a href="{{ main_app_url }}{{ path('password_reset', {'campaignUrl': campaign.url, 'password_reset_token':user.passwordResetCode, 'email':user.email}) }}">{{ main_app_url }}{{ path('password_reset', {'campaignUrl': campaign.url, 'password_reset_token':user.passwordResetCode, 'email':user.email}) }}</a>
</p>

<p>
Thanks,<br>
FRmanager Team
</P>
{% endblock %}
